<form class="" action="/articles" method="post">
<ul>
  <li><label for="title">Title</label>
  <input type="text"  name="title" id="title"></li>

  <li><label for="content">Content</label>
  <input type="text" name="content" id="content"></li>
</ul>

  <input type="submit" value="Submit">

  </form>
